TODO.md
__pycache__
node_modules/
.env
.venv/
.DS_Store

aldi-ecommerce-managemen-b40e8-firebase-adminsdk-fbsvc-b76cea1fbf.json
*-firebase-adminsdk-*.json
mock-document.pdf
WhatsApp Chat with Wu Tang Clan 2.0.txt
document-contents-cache.json